# The main rlbot framework
# You will automatically get updates for all versions starting with "1.".
rlbot==1.*

# Used to allow python to communicate with the browser that's running scratch
websockets

# This will cause pip to auto-upgrade and stop scaring people with warning messages
pip
